*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
}

body{
    background: #fff;
}


.wrapper .header{
    z-index: 1;
    background : #22242A;
    position: fixed;
    width: calc(100% - 0%);
    height: 70px;
    display: flex;
    top : 0;
}


.wrapper .header .header-menu
    {
        width: calc(100% - 0%); 
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items : center;
        padding: 0 20px;
    }

.wrapper .header .header-menu .logo{
    display: flex;
}

.wrapper .header .header-menu .logo img{
    width: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.wrapper .header .header-menu .title{
        color : #fff;
        font-size : 25px;
        text-transform: uppercase;
        font-weight: 900;
    }

.wrapper .header .header-menu .title span{
        color : #4CCEE8;
    }



    .wrapper .main-container .sidebar-btn{
        color: black;
        width: 2%;
        font-size: 40px;
        font-weight: 900;
        cursor: pointer;
        transition: 0.3s;
        transition-property: color;
        position : fixed;
        margin-left:6px;
    }

.wrapper .main-container .sidebar-btn:hover {
        color : #4CCEE8;
    }

.wrapper .header .header-menu ul{
        display: flex;

    }

.wrapper .header .header-menu ul li a{
        background: #fff;
        color:  #000;
        display: block;
        margin: 0 10px;
        font-size: 10px;
        width: 34px;
        height: 34px;
        line-height: 35px;
        text-align: center;
        border-radius: 50%;
        transition: 0.3s;
        transition-property: background, color;
    }

.wrapper .header .header-menu ul li a:hover{
    background : #4CCEE8;
    color: #fff;
}

.wrapper .sidebar {
    z-index: 1;
    background: #2F323A;
    position: fixed;
    top: 70px;
    width: 270px;
    height: calc(100% - 9%);
    transition: 0.3s;
    transition-property: width;
    overflow-y: auto;
}

.wrapper .sidebar .sidebar-menu{
    overflow: hidden;
}

.wrapper .sidebar .sidebar-menu .profile img{
    margin: 20px 0;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.wrapper .sidebar .sidebar-menu .profile p{
    color: #bbb;
    font-weight: 700;
    margin-bottom: 10px;
}


.wrapper .sidebar .sidebar-menu .item{
    width: 250px;
    overflow: hidden;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn{
    display: block;
    color: #fff;
    position: relative;
    padding: 25px 20px;
    transition: 6.3s;
    transition-property: color;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn:hover{
    color:#4CCEE8;

}

.wrapper .sidebar .sidebar-menu .item .menu-btn i{
    margin-right: 16px;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn .drop-down
{
    float: right;
    font-size: 12px;
    margin: 3px 0 0 20px;
    

}

.wrapper .sidebar .sidebar-menu .item .sub-menu{
    background: #3498D8;
    overflow: hidden;
    max-height: 0px;
    transition: 0.3s;
    transition-property: background;
}


.wrapper .sidebar .sidebar-menu .item .sub-menu a {
    display: block;
    position: relative;
    color: #fff;
    white-space: nowrap;
    font-size: 15px;
    padding: 20px;
    border-bottom: 1px solid #8FC5E9;
    transition: 0.3s;
    transition-property: background;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu a:hover {
    background: #5581F0;

}

.wrapper .sidebar .sidebar-menu .item .sub-menu i{
    padding-right: 12px;
    font-size: 18px;
}

.wrapper .sidebar .sidebar-menu .item:hover  .sub-menu
{
    max-height: 500px;
}

.wrapper .main-container{
    width: (100% - 270px);
    margin-top: 70px;
    margin-left: 270px;
    padding: 15px;
    height: 100vh;
    transition: 0.3s;
}


.wrapper.collapse .sidebar{
    width: 70px;
}


.wrapper.collapse  .sidebar .profile img,
.wrapper.collapse  .sidebar .profile p,
.wrapper.collapse .sidebar a span{
    display: none;
}

.wrapper.collapse .sidebar-menu .item .menu-btn{
    font-size: 20px;
}

.wrapper.collapse .sidebar-menu .item .sub-menu i{
    font-size: 20px;
    padding-left: 0px;
}
.wrapper.collapse .main-container{
    width: (100% - 65px);
    margin-left: 70px;

}

.wrapper .main-container .container{
    background: #FBFEFD ;
    padding: 15px;
    font-size: 14px;
    margin: 60px 0 0px 0px;
    position: fixed;
    overflow: scroll;
    height: 500px;
}